@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #E5E5E5;
  width: 100%;
  height: 100%;
}
.fa {
  padding-right: 10px;
}
.line-num {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 30px;
}
.line-num span {
  color: #009688;
}
.page-content .page-title {
  padding: 30px;
  background-color: #fff;
  font-weight: bolder;
}
.page-content .page-title .bread-nav {
  text-align: right;
}
.page-content .data-content {
  margin: 30px;
  padding: 30px;
  background-color: #fff;
}
